classes/
generated-sources/
maven-archiver/
maven-status/
spooned/
.mvn/wrapper/maven-wrapper.jar
.m
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/